.about {
    margin: 5px;
    text-align: center;
    /* padding: 10px; */
}

.about__01 {
    padding: 10px;
    color: white;
}

.about__img__01 {
    border-radius: 50%;
}

.skill {
    text-align: center;
    color: white;
    padding-top: 10px;
}

.skill__01 {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 10px;
}